name: Java Linter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js v20.16.0
        uses: actions/setup-node@v4
          cache: maven

      - name: Run ESLint
        run: npm install eslint -DE   

      - name: Run linter
        run: npm run linter
        